.banner {
    background-image: url("../img/ban.png");
    color: white;
    text-align: center;
    padding-top: 13em;
    padding-bottom: 6em;

}

.banner_titulo {
    font-size: 80px;
    font-weight: 700;
    font-family: "Abril Fatface";
    text-transform: uppercase;
}

.banner_texto {
    font-weight: 500;
    font-size: 80px;
}

.arrastar {
    font-weight: 500;
    color: white;
    padding-top: 10em ;
    padding-bottom: 13em;
    text-align: center;
    justify-content: center;
}

button {
    font-size: 15px;
    font-weight: 300;
    background-color: rgb(35, 56, 87);
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 0 5px rgb(4, 39, 92), 0 0 25px rgb(35, 56, 87);
  }

button:hover {
    box-shadow: 0 0 5px rgb(35, 56, 87), 0 0 25px rgb(35, 56, 87),
    0 0 50px rgb(35, 56, 87), 0 0 100px rgb(35, 56, 87), 0 0 200px rgb(35, 56, 87);

}

