.contato {
    background-color: white;
    padding: 1em;
    text-align: center;
    padding-bottom: 3em;
    
}

.contato-titulo {
    color: #255547;
    font-weight: 700;
    font-size: 28px;
    padding-top: 1em;
    text-align: left;
}

.contato-texto {
    color: black;
    font-weight: 400;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 2em;
    text-align: left;
}

.email {
    background-color: #255547;
    padding: 1em 2em;
    color: white;
    text-align: center;
    justify-content: center ;
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;
}